/*notes
find suitable fonts from inspect on other hotel sites
everything needs to be applied to the larger media queries as of yet. we are working MOBILE FIRST
PALETTE COLORS

*/

/*MOBILE FIRST*/

/*homepage listed first*/
body{
    background-color: #f6d9be; 
    margin: 0;
    padding: 0;
    color: #69bec9;
}

.header-container{
    border: 3px solid #00ff3c; 
    background-color: #eec6b0;
    color: #69bec9;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
    
}

/*changes the size of the logo*/ 

#logo{
    border: 3px solid black;
    display: block;

    max-height: 200px;
    height: auto;
    object-fit: contain;

}


#page-title{
    text-align: center;
}




/*nav*/

.sidepanel{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #cdc4dc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: 2px solid black; /*keep, change color with the new color palette*/
}

.navlinks{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navlinks a{
    padding: 12px 32px;
    display: block;
    font-size: 22px;
    color: #695ca3;
    text-decoration: none;
    transition: 0.3s;
}

.navlinks a:hover{
    color: #9e92c0;
}

.closebutton{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background: none;
    color: #695ca3;
    border: none;
    cursor: pointer;
    padding: 20px 25px;
}

.openbutton{
    top: 0;
    right: 0;
    font-size: 30px;
    cursor: pointer;
    color: black;
    background-color: #695ca3;
    padding: 20px 25px;
    border: none;
    position: fixed;
}

.openbutton:hover{
    background-color: #cdc4dc;
}

.closebutton:hover{
    background-color: #461891;
}

#menu{
    color: #695ca3;
    margin-left: 12%;
}



/* i am trying something different
nav{
    /* border: 2px solid cadetblue;
    display: flex;
    flex-direction: column;
    width: 95%;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-top: 7px;
    margin-bottom: 7px;
    border: 3px solid palevioletred;
}


nav a{
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #c96983;
    
}
*/

/*main{
    border: 5px solid rgb(255, 255, 255);

}*/

.titles{
    /*border: 2px solid rgb(125, 80, 180);*/
    text-align: center;
    color: #86e0e0;
}

.exp{
    background-color: #f7f6ed;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
    
}

.acom{
    background-color: #f7f6ed;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
}

.what{
    background-color: #f7f6ed;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
    justify-items: center;
}


figure{
    border: 3px solid ghostwhite;
}

img{
    object-fit: contain;
}


figcaption{
    /*border: 2px solid fuchsia;*/
    text-align: center;
}

img{
    /*border: 2px solid rgb(125, 105, 255);*/
    align-items: center;
    justify-content: center;
}

/*.experience-wrapping{
    border: 3px solid rgb(195, 24, 24);
    background-color: #e594aa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.accomodations-wrapping{
    border: 3px solid rgb(30, 27, 206);
    background-color: rgb(127, 208, 255);
}

.testimonials-wrapping{
    border: 3px solid rgb(228, 211, 22);
    background-color: #a7143b;
}*/

/*make the footer a picture perhaps. remember that the names in testimonials are currently also footers FIXED*/
footer{
    background-color: #eec6b0;
    padding: 2rem;
}

/*calling on ACTIVITIES page*/
.activities .act-title{
    text-align: center;
}

ul{
    list-style: none;
}

.act-content{
    background-color: #9e92c0;
    text-align: center;
    padding: 5px;
}


/*calling on DINING page*/
.dining{
    border: 3px solid green;
}
#beach{
    background-color: tomato;
    border: 3px outset black;
}
#sand{
    background-color: rgb(86, 71, 255);
}

#pool{
    background-color: rgb(209, 255, 71);
}

#lobby{
    background-color: rgb(71, 255, 111);
}

#other{
    background-color: rgb(255, 71, 148);
}


/*calling on GUEST ROOM page*/
.guest{
    border: 3px solid green;
}

/*calling on TESTIMONIALS page*/
.testimonials{
    border: 3px solid green;
}


/*calling on SPA page*/
.spa{
    border: 3px solid green;
}


/*screen btwn 770px and 1000px*/

@media screen and (min-width:769px){
body{
    background-color: #9e92c0;
}

.titles{
    /*border: 2px solid rgb(125, 80, 180);*/
    text-align: center;
}

.wrapping{
    background-color: #695ca3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    
}

figcaption{
    text-align: center;
}
}



/*over 1000px*/
@media screen and (min-width:1000px){
    .wrapping{
    /* border: 2px solid hotpink;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}