body{
    background-color: #f8f4de;
    margin: 0;
    padding: 0;
}

.header-container{
    background-color: #bdb19a;
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;

}

/*changes the size of the logo*/ 

#logo{
    
    display: block;
    max-height: 200px;
    height: auto;
    object-fit: contain;

}

#page-title{
    text-align: center;
    color: #bdb19a;
}

/*nav*/

.sidepanel{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f8f4de;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: 5px solid #bdb19a; /*keep, change color with the new color palette*/
}

.navlinks{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navlinks a{
    padding: 12px 32px;
    display: block;
    font-size: 22px;
    color: #bdb19a;
    text-decoration: none;
    transition: 0.3s;
}

.navlinks a:hover{
    color: #7c590d;
}

.closebutton{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background: none;
    color: #bdb19a;
    border: none;
    cursor: pointer;
    padding: 20px 25px;
}

.openbutton{
    top: 0;
    right: 0;
    font-size: 30px;
    cursor: pointer;
    color: #f8f4de;
    background-color: #bdb19a;
    padding: 20px 25px;
    border: none;
    position: fixed;
}

.openbutton:hover{
    background-color: #c4ddc3;
}

.closebutton:hover{
    background-color: #c4ddc3;
}

#menu{
    color: #7c590d;
    margin-left: 12%;
}

.titles{
    color: #7c590d;
    text-align: center;
}

.exp{
    display:grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
}

.acom{
    display:grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
}

.what{
    display:grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
}

.item-exp{
    background-color: #c4ddc3;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
}

.item-acom{
    background-color: #afd8ce;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
}

.item-what{
    background-color: #99cfd6;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
}

footer{
    background-color: #bdb19a;
    padding: 2rem;
    text-align: center;
}

/*calling on ACTIVITIES page*/
.activities .act-title{
    text-align: center;
}

ul{
    list-style: none;
}

.act-content{
    background-color: #f8f4de;
    text-align: center;
    padding: 5px;
}


/*calling on DINING page*/
.dining{
    border: 3px solid #f8f4de;
}



/*calling on GUEST ROOM page*/
.guest{
    border: 3px solid #f8f4de;
}

/*calling on TESTIMONIALS page*/
.testimonials{
    border: 3px solid #f8f4de;
}


/*calling on SPA page*/
.spa{
    border: 3px solid #f8f4de;
}

@media screen and (min-width:769px) {
    .exp{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.acom{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.what{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.exp .item-exp:last-child{
    grid-column: span 1;
}

.acom .item-acom:last-child{
    grid-column: span 3;
}

.what .item-what:last-child{
    grid-column: span 3;
}
}

@media screen and (min-width:1000px) {
    .exp{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.acom{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.what{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.exp .item-exp:last-child{
    grid-column: span 3;
}

.acom .item-acom:last-child{
    grid-column: span 1;
}

.what .item-what:last-child{
    grid-column: span 1;
}
}